/*
#animals-view {
    float: left;
}

/*
img {
    float: left;
}

#buttons-view {
    float: right;
}
*/


#animal-form,
#buttons-view {
    position: fixed;
}

.container {
    padding: 30px;
}

#animal-input,
#find-animal {
    float: right;
}