/*
img {
    float: left;
}
#animals-view,
#buttons-view {
    width: 50px; 
    float: right
}

It seems I can't get this to work where each col floats to the opposite sides of the screen.
The animal search seems to be closer to the center of the screen than the photos.
*/

.container {
    width: 80%; /* fixes the window from going full size when gifs loaded */
    padding: 30px;
}

#animal-form,
#buttons-view {
    width: 300px;
    position: fixed;
}
